﻿@{
    ViewData["Title"] = "UploadFiles";
}
<img src="~/Imagens/upload-na-nuvem.png" width="200" height="200" />

<hr />

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        @if (ViewData["Erro"] != null)
        {
            <img src="~/Imagens/botao-x.png" width="150" height="150">
            <h4>@ViewData["Erro"]</h4>
            <a class="btn btn" asp-area="Admin" asp-action="Index" asp-controller="AdminImagens">Voltar</a>
        }
    </div>
    <div class="container">
        @if (ViewData["Resultado"] != null)
        {
            <h4>@ViewData["Resultado"]</h4>
            <hr />
            @if (ViewBag.Arquivos != null)
            {
                foreach (string arquivo in ViewBag.Arquivos)
                {
                    <ul>
                        <li>@arquivo</li>
                    </ul>
                }
            }
        }
    </div>
</div>