@model DateTime

<h2>Checkout</h2>

<form asp-action="Checkout" method="post">
    <h6>@ViewBag.Erro</h6>
    <div class="form-group">
        <label for="dataParaEntregar">Data para entrega:</label>
        <p style="color: gray; font-size: small">(A data para entrega depende da demanda e da disponibilidade da empresa, acompanhe o status do pedido em 'Meus pedidos' para ficar por dentro da data
            da entrega)
        </p>
        <input type="datetime-local" id="dataParaEntregar" name="dataParaEntregar" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Finalizar Pedido</button>
</form>