@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DéRosa Doceria</h1>
    <br />
    <p>Descubra o prazer com nossas receitas simples e deliciosas com sobremesas irresistíveis. Surpreenda-se com os nossos doces feitos com amor e delicie-se com cada pedacinho de felicidade que eles proporcionam.</a>.</p>
</div>
