@using DeRosaWebApp.Models.Management;
@model ManagementSobre
@{
    ViewData["Title"] = "Meus Contatos";
}

<div class="meus-contatos">
    <p>Aqui você pode fazer contato direto sobre dúvidas:</p>

    <table class="contact-table">
        <tr>
            <td><img src="~/Imagens/whatsapp.svg" alt="WhatsApp Icon" class="contact-icon" /></td>
            <td><a href="https://web.whatsapp.com/send?phone=5535991770091" target="_blank">WhatsApp</a></td>
        </tr>
        <tr>
            <td><img src="~/Imagens/call.svg" alt="Phone Icon" class="contact-icon" /></td>
            <td><a href="tel:+5535991770091">Telefone: (35) 99177-0091</a></td>
        </tr>
        <tr>
            <td><img src="~/Imagens/instagram.svg" alt="Instagram Icon" class="contact-icon" /></td>
            <td><a href="https://www.instagram.com/derosadoces/" target="_blank">Instagram</a></td>
        </tr>
    </table>
</div>
