@{
    ViewData["Title"] = "Politica de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum habitant egestas praesent bibendum fringilla metus purus cursus urna, duis nec tempus litora ultrices elit felis ipsum maecenas, venenatis ullamcorper aliquam senectus venenatis scelerisque condimentum facilisis ad.
    ut primis sit feugiat ad euismod nunc porta posuere aptent, accumsan volutpat litora mauris litora elit etiam justo, ante maecenas rutrum nam etiam eleifend eget tincidunt.
</p>
<p>
    Convallis leo vehicula maecenas urna vehicula accumsan bibendum tincidunt phasellus egestas eu, euismod semper proin consequat elementum faucibus netus metus ultricies et, netus pharetra venenatis odio vivamus habitasse leo a ultricies viverra.
    dapibus consequat justo mi, aptent suscipit.
</p>
