@using DeRosaWebApp.ViewModel;
@model EsqueciSenhaViewModel

@{
    ViewData["Title"] = "Esqueci Minha Senha";
}

<h1>Esqueci Minha Senha</h1>

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-info" role="alert">
        @ViewBag.Mensagem
    </div>
}

<form asp-controller="Account" asp-action="EsqueciSenha" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label">E-mail</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
