@{
    ViewData["Title"] = "Sucesso no Pagamento";
}

<div class="pg-efetuado-container">
    <h1>@ViewData["Title"]</h1>
    <p>O pagamento foi processado com sucesso!</p>
    <div class="pg-efetuado-img-check">
        <img src="~/Imagens/check.svg" alt="IconeLixeira" width="100" height="100" />
    </div>
</div>
