@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignManager
@if (SignManager.IsSignedIn(User))
{
    @if (User.IsInRole("Member"))
    {
        <ul class="nav navbar-nav navbar-left">
            <li class="nav-item">
                <a class="nav-link" style="color: lightgray;" asp-controller="Account" asp-action="Edit">Minha Conta</a>
            </li>
        </ul>
    }
    
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-left">
        <ul class="nav navbar-nav navbar-left">
            <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">
                Logout : @User.Identity.Name &nbsp;
            </button>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li class="nav-item">
            <a class="nav-link" style="color: lightgray;" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: lightgray;" asp-controller="Cadastro" asp-action="Cadastrar">Cadastrar</a>
        </li>

    </ul>
}
