<div class="container" style="display: flex; flex-direction: column; justify-items: center; align-items: center;">
    <h2 class="text-info">Área de administração</h2>
    <img style="width:150px" src='~/Imagens/monitoring.svg'  alt="Área de administração" />
</div>
<div class="container-lg">
</div>